<footer class="footer">

    <div class="container">
        <div class="col-sm-12  text-center">
            <div class= "social-icon">
                <a href=""><i  class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>

</footer>

