<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/home.css">
	<link rel="stylesheet" href="/stylesheets/master.css">

</head>

<body>
	{{#if isHome}}
		{{> search }}
	{{/if}}
	{{#if isInbox}}
		{{> chatbox }}
	{{/if}}
	<div class="cover">
		<div class="img-container clearfix" id="image_wrapper">
			<div class="top-icons">
				<i class="far fa-times-circle" id="close"></i>
			</div>
			<input type="file" name="img" value="" class="upload_img">
			<div id="demo"></div>
			<img src="" alt="" id="img_preview">
		</div>
	</div>
	<header>
		<div class="container">
			<div class="logo"><i class="far fa-grin-hearts"></i><a href="/">Matcha</a></div>
			<nav>
					<ul>
						{{#if isAuthenticated}}
							<li class="bell">
								<a href="" class="notification"><i class="fas fa-bell"></i></a>
								<span id="notificationsCount"></span>
								<ul class="clearfix shadow"></ul>
							</li>
							<li></li>
							<li><a href="/home" class="active">Home</a></li>
							<li><a href="/profile" class="">My profile</a></li>
							<li><a href="/inbox" class="">Inbox</a></li>
							<li><a href="/logout" class="">Logout</a></li>
						{{else}}
							<li><a href="/" class="active">Home</a></li>
							<li><a href="">About</a></li>
							<li><a href="">Testimonial</a></li>
							<li><a href="/login" class="btn-login">Login</a></li>
						{{/if}}
					</ul>
			</nav>
		</div>
	</header>
