<div id="search-panel">
	<h4>Search</h4>
	<ul class="params">
		<li>
			<a href="" class="clearfix"><i class="fas fa-calendar-alt"></i>Age range 
				<div class="range"><span class="age-min">18</span>-<span class="age-max">32</span></div>
			</a>
			<div class="box clearfix">
				<div id="age-range"></div>
			</div>
		</li>
		<li>
			<a href=""><i class="fas fa-map-marker"></i>Maximum distance
				<div class="range"><span class="distance">18km</span></div>
			</a>
			<div class="box clearfix">
				<div id="distance-range"></div>
			</div>
		</li>
		<li>
			<a href=""><i class="fas fa-star"></i>Popularity
				<div class="range"><span class="popularity">5</span></div>
			</a>
			<div class="box clearfix">
				<div id="popularity-range"></div>
			</div>
		</li>
		<li>
			<a href=""><i class="fas fa-venus-mars"></i>Sex</a>
			<div id="gender">
				<label for="male"><input type="radio" name="sex" value="1" id="male">Male</label>
				<label for="female"><input type="radio" name="sex" value="2" id="female">Female</label>
				<label for="both"><input type="radio" name="sex" value="3" id="both">Both</label>	
			</div>
		</li>
		<br>
		<li><a href=""><i class="fas fa-tags"></i>Interests</a></li>
	</ul>

	<a href="" class="btn fill btn-search">search</a>
</div>
