{{#each users}}
	<div class="user">
		<img src="{{images}}" alt="">
		<strong></strong>
		<div class="status">
			<span class="online"></span>
			<small>{{username}}</small>
		</div>
		<a href="/user/{{_id}}" class="btn">MORE</a>
	</div>
{{/each}}