{{> header}}
<main>
	<div id="hero-section">
		<div class="container">
			{{{body}}}
		</div>
	</div>
	<div id="about-section">
		<div class="container">
			<h2>WHAT IS <i class="fas fa-heart"></i><span>Matcha</span></h2>
			<div class="text">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel architecto odit dignissimos reiciendis unde obcaecati rerum ad omnis, aliquam quisquam placeat eum doloremque, minima magni, sequi nostrum quos ea repellendus?</p>
				<p>Iste iusto asperiores necessitatibus, quas exercitationem voluptate ipsam, unde nulla harum voluptatem nesciunt consequatur consectetur ducimus velit incidunt. Cupiditate, velit. Eius porro aperiam consequatur accusamus dolores laudantium vel neque, sapiente.</p>
				<p>Earum minima quasi suscipit itaque perspiciatis, doloremque quas nihil, tenetur atque sit, placeat quisquam iste odio. Qui id deserunt dolores nesciunt dolore, eos nostrum voluptatibus illum a dolorem expedita! Ut.</p>
			</div>
			<img src="/img/about.jpg" alt="">
		</div>
	</div>
	<div id="testimonials-section">
		<div class="container">
			<div class="slider-container clearfix">
				<ul class="slider clearfix">
					<li class="slide">
						<img src="/img/face1.jpg" alt="">
						<h4>Username</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
					</li>
					<li class="slide">
						<img src="/img/face2.jpg" alt="">
						<h4>Username</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
					</li>
					<li class="slide">
						<img src="/img/face3.jpg" alt="">
						<h4>Username</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
					</li>
					<li class="slide">
						<img src="/img/face4.jpg" alt="">
						<h4>Username</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
					</li>
					<li class="slide">
						<img src="/img/face5.jpg" alt="">
						<h4>Username</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias voluptatibus deserunt quo ea iure praesentium nam quos a, sit quis consequatur autem </p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</main>
{{> footer }}
