nav .btn-login,
nav .btn-register
{
	font-weight: bold;
	color: #FF0000;
}

/*============================
	- HERO SECTION
============================*/
#hero-section
{
	height: calc(100vh - 65px);
	max-height: 900px;
	background: url("../img/hero.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 100px;
}

form label
{
	font-size: 1.2em;
	margin-right: 25px;
	float: left;
	font-weight: bold;
	color: #FF0000;
}

form label:nth-child(1)
{
	color: #FF0000;
}

form .input
{
	width: 48%;
}

form .input:nth-child(odd)
{
	float: right;
}

form input[type='radio']
{
	margin-right: 10px;
}

form i
{
	display: inline-block;
	cursor: pointer;
	font-size: 1.5em;
}

form .btn
{
	float: right;
	margin-top: 20px;
}

#dob
{
	display: block;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: inherit;
}

select
{
	background: transparent;
}

.gender
{
	display: inline-block;
	padding: 10px 0;
	margin-top: 20px;
}
.fa-female
{
	color:  #FF0000;
}

.fa-male
{
	color:  #00B7FF;
}
