#interests .box table td:nth-child(odd):hover i,
#interests .box table td:nth-child(odd):hover label
{
	color: #fff !important;
}

#interests .box table td i,
#interests .box table td label
{
	color: #fff;
}

#interests .box table td label
{
	display: block;
	text-align: center;
	font-size: 1.3em;
	background-color: #FF0000;
	color: #fff;
	border-radius: 25px;
	padding: 5px;
}

#profile-img img
{
	border-radius: 50% !important;
}


#info #profile-img .star i
{
	font-size: 2em;
}
